.header {
  background: $dark-blue;
}

.header__title {
  color: white;
  text-decoration: none;
  font-size: $l-size;
}

.header__title:hover {
  text-decoration: none;
  color: white;
}
.header__title:checked {
  text-decoration: none;
  color: white;
}

.header__content {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 0 $s-size;
  max-height: $header-size;
}

.header__actions {
  > a {
    font-size: $m-size;
  }

  > a:hover {
    text-decoration: none;
    color: white;
  }
}