@media all and (min-width: 480px) {
    .Login {
        padding: 60px 0;
    }

    .Login form {
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-column-gap: 3rem;
    }

    .Login form > button{
        width: 9rem;
    }
   

}